/* based on this number the footer will be pushed to the bottom */
main {
  min-height: 80vh;
}

.light {
  background-color: rgb(248, 241, 241);
}

h2 {
  font-size: x-large;
}

h3 {
  padding: 1rem 0;
  font-size: large;
}

.rating span {
  margin: 0.1rem;
}
